{% extends "dupRunner/base2.html" %}
{% block content %}
<br>
<br>
<div class="starter-template">
    <h1>Confirmer Results!</h1>
    <p class="lead">{{ num_reviewed }} Files Reviewed</p>
</div>
<div class="container">
    {% for issue in issues %}
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ issue[0] }}" class="img-circle" width="75" height="75">
                <a href="{{ issue[0] }}" target="_blank">{{ issue[1] }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}