{% extends "base2.html" %}
{% block content %}
<h1>
    <!--<button class="btn btn-lg btn-warning">-->
    <!--Submit-->
    <!--<span class="glyphicon glyphicon-refresh spinning"></span> Loading...-->
    <!--</button>-->
    <button id="submit" type="submit" class="btn btn-default">Submit</button>
    Selected Directories for Comparison
</h1>
<h2>
    {{ num_hashes_found }} duplicates found across {{ num_dirs_reviewed }}
</h2>
<div id="mydirtree" class="dirTree"></div>

<script>
<!--https://github.com/vakata/jstree/issues/1056-->
    $(function () {
        var treeData = {{ jsonTreeData|tojson|safe }}
        console.log(treeData);

        <!--$('#tree').jstree({-->
            <!--'core' : {-->
                <!--'data' : {-->
                    <!--'url' : "api/node",-->
                    <!--'data' : function (node) {-->
                        <!--return { 'id' : node.id };-->
                    <!--}-->
                <!--},-->
            <!--},-->
            <!--'massload' : {-->
                <!--'url' : "api/nodes",-->
                <!--'data' : function (ids) {-->
                    <!--return { 'id' : ids.join(',') };-->
                <!--}-->
            <!--},-->
            <!--plugins : ['massload']-->
        <!--});-->

        $('#mydirtree').jstree({
            'core': {
                'data': treeData,
                'themes': {'variant': 'large'}
            },
            'massload' : {
                'url' : "{{ url_for('get_more_dirs', id=id) }}",
                "data" : function (ids) {
                            console.log(ids);
                            return { "id" : ids.join(",") };
                            }
                },
            'checkbox': {
                'keep_selected_style': true
            },
            'plugins': ['wholerow', 'checkbox', 'massload']
        });

        <!--$('#mydirtree').jstree({-->
            <!--&lt;!&ndash;'core': {&ndash;&gt;-->
                <!--&lt;!&ndash;'data': treeData,&ndash;&gt;-->
                <!--&lt;!&ndash;'themes': {'variant': 'large'}&ndash;&gt;-->
            <!--&lt;!&ndash;},&ndash;&gt;-->
            <!--'core' : {-->
                <!--'data' : {-->
                    <!--'url' : "{{ url_for('get_a_dir', id=id) }}",-->
                    <!--'data' : function (node) {-->
                        <!--console.log(node);-->
                        <!--return { 'id' : node.id };-->
                    <!--},-->
                <!--'themes': {'variant': 'large'}-->
                <!--},-->
            <!--},-->
            <!--'massload' : {-->
                <!--'url' : "{{ url_for('get_more_dirs', id=id) }}",-->
                <!--"data" : function (ids) {-->
                            <!--console.log(ids);-->
                            <!--return { "id" : ids.join(",") };-->
                            <!--}-->
                <!--},-->
            <!--'checkbox': {-->
                <!--'keep_selected_style': true-->
            <!--},-->
            <!--'plugins': ['wholerow', 'checkbox', 'massload']-->
        <!--});-->

        $("#submit").click(function () {
            var pdirs = $('#mydirtree').jstree("get_selected")
            $.ajax({
                url: "{{ url_for('get_paths') }}",
                data: JSON.stringify(pdirs),
                contentType: "application/json",
                type: "POST",
                success: function (result) {
                    console.log(result);
                    window.location.href = "{{ url_for('show_me_the_money') }}";
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });


</script>
{% endblock %}
